.color-title th {
    color: rgb(131, 94, 179);
}

.color-caption caption {
    color: rgb(139, 68, 206);
}


/* Change the color of module headers */
.py.mod > .descclassname, .py.mod > .descname {
    color: #FF5733; /* Orange */
}

/* Change the color of function signatures */
.sig.sig-object.py {
    color: #327219; /* Green */
}

/* Change the background color of code blocks */
.highlight {
    background-color: #F0F8FF; /* Light blue */
}

.section {
    background-color: #f0f8ff; /* Light blue background for sections */
}

.descclassname, .descname {
    color: #327219;  /* Green color for class and function names */
}

