.icon-password_profile {
  background-image: url('{{ url_for('NODE-password_profile.static', filename='img/password_profile.svg')}}') !important;
  background-repeat: no-repeat;
  background-size: 16px !important;
  align-content: center;
  vertical-align: middle;
  height: 1.3em;
}

.icon-role {
  background-image: url('{{ url_for('NODE-role.static', filename='img/role.svg')}}') !important;
  background-repeat: no-repeat;
  background-size: 16px !important;
  align-content: center;
  vertical-align: middle;
 height: 1.3em;
}

.icon-group {
  background-image: url('{{ url_for('NODE-role.static', filename='img/group.svg')}}') !important;
  background-repeat: no-repeat;
  background-size: 16px !important;
  align-content: center;
  vertical-align: middle;
  height: 1.3em;
}

.pgadmin-node-select option[node="role"] {
  background-image: url('{{ url_for('NODE-role.static', filename='img/role.svg')}}') !important;
  background-repeat: no-repeat;
  background-size: 16px !important;
  background-position: center left;
}

.pgadmin-node-select option[node="group"] {
  background-image: url('{{ url_for('NODE-role.static', filename='img/group.svg')}}') !important;
  background-repeat: no-repeat;
  background-size: 16px !important;
  background-position: center left;
}
