[project]
name = "langchain-polaris-ai-datainsight"
version = "0.0.6"
description = "An integration package connecting PODataInsight and LangChain"
authors = [
    { name = "Polaris Office", email = "ai@polarisoffice.com"}
]
readme = "README.md"
license = "MIT"
repository = "https://github.com/PolarisOfficeRnD/PolarisAIDataInsight"
homepage = "https://datainsight.polarisoffice.com/"
requires-python = ">=3.10,<4.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.mypy]
disallow_untyped_defs = "True"

[tool.poetry.urls]
"Source Code" = "https://github.com/PolarisOfficeRnD/PolarisAIDataInsight/langchain-polaris-ai-datainsight"

[tool.poetry.dependencies]
python = ">=3.10,<4.0"
langchain-core = "^0.3.15"
python-dotenv = "^1.1.0"
# polaris-ai-datainsight = ">=1.0.0"
polaris-ai-datainsight={version="*", allow-prereleases=true}

[tool.ruff.lint]
select = ["E", "F", "I", "T201"]

[tool.coverage.run]
omit = ["tests/*"]

[tool.pytest.ini_options]
addopts = "--strict-markers --strict-config --durations=5"
markers = [
    "compile: mark placeholder test used to compile integration tests without running them",
]
asyncio_mode = "auto"

[tool.poetry.group.test]
optional = true

[tool.poetry.group.codespell]
optional = true

[tool.poetry.group.lint]
optional = true

[tool.poetry.group.test.dependencies]
pytest = "^7.4.3"
pytest-asyncio = "^0.23.2"
pytest-socket = "^0.7.0"
pytest-watcher = "^0.3.4"
langchain-tests = "^0.3.5"

[tool.poetry.group.codespell.dependencies]
codespell = "^2.2.6"

[tool.poetry.group.lint.dependencies]
ruff = "^0.5"

[tool.poetry.group.typing.dependencies]
mypy = "^1.10"
